# Node modules
node_modules/

# Build folder
build/

# Sublime project files
*.sublime-*

# NPM logs
npm-debug.log

# Compiled Python files
*.pyc

# Virtual environments
venv*/

# SQLite databases
*.db
*.sqlite3

# Process IDs
*.pid

# Socket files
*.sock

# Visual Studio Code files
.vscode
